{
  "presets": [
    ["env", {
      "modules": false,
      "useBuiltIns": true,
      "targets": {
        "browsers": ["last 2 versions", "ie >= 8"]
      },
      "debug": false
    }],
    "stage-2"
  ]
}
