<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  <script src="/static/js/lib/es5-shim.min.js"></script>
  <script src="/static/js/lib/jquery.min.js"></script>
  <script src="/static/js/lib/ejs.min.js"></script>
  <title>杭州市民卡柜面系统</title>
</head>
<body>
