/**
* Remove default margin.
*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, Tahoma, sans-serif;
  font-size: 14px;
  width: 100%;
  margin: 0 auto;
  color: #333;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

input[type="botton"]{
  -webkit-appearance:none;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input[type="search"]{
  -webkit-appearance: textfield;
}

input:-webkit-autofill {
  -webkit-box-shadow: 000px 1000px whiteinset;
}

.appheader{
  width: 100%;
  background-color: #ccc;
  height: 160px;
}

.applefter{
  width: 20%;
  background-color: #999;
  height: 720px;
  float: left;
}

.appcontent{
  width: 80%;
  background-color: #666;
  height: 720px;
  float: left;
}
.appfooter{
  width: 100%;
  background-color: #ccc;
  height: 160px;
}
