<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>杭州市民卡自助服务机</title>
    <link rel="stylesheet" type="text/css" href="css/main.css?rev=@@hash"/>
</head>
<body>
  <%- include('header'); -%>
  <h1>
    Title
  </h1>
  <p>
    My page
  </p>
  <%- include('footer'); -%>

<!-- <script src=zepto.min.js></script> -->
<script src="./js/jquery.js"></script>
<script src="./js/jquery.pop.js?rev=@@hash"></script>
<script src="./js/common.js?rev=@@hash"></script>
<script src="./js/index.js?rev=@@hash"></script>
</body>
</html>
