@charset "UTF-8";

@import "./util";

html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
img,
span,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
}

img {
    // vertical-align: middle;
    border: 0;
}

input,button {
    outline: none;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

html {
    @include root-font-size();
}

body {
    /* rem2px的使用方式，仅用于临时计算 */
    border-width: rem2px(0.6);

    font-size: px2rem(16);
    font-family: "Microsoft YaHei";
}


/*---------index------------s-*/

/*轮播图*/
.sec_banner{
    // width: 100%;
    margin: px2rem(28);
    overflow: hidden;
    position: relative;

    .imgs-swiper{
        // border: 1px solid red;
        // width: 1000%;
        // transform: translateX(-10%);
        // -webkit-transform: translateX(-10%);
        li{
          // width: 10%;
          float: left;

          img{
            display: block;
            // width: 100%;
            height: px2rem(300);
          }
        }
    }

    .imgs-dots{
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        bottom: px2rem(12);

        li{
            width: px2rem(12);
            height: px2rem(12);
            border-radius: px2rem(12);
            border: 1px solid #fff;
            margin: 0 px2rem(10);
        }

        .now{
            background: #fff;
        }
    }
}

/*联想查询*/
.search{
    border: 1px solid transparent;
    height: 20px;
    margin: 0 auto;
}
.search input{
    border: 1px solid gray;
    width: 200px;
    height: 20px;
}
.content{
    width: 200px;
    border: 1px solid red;
    overflow-y: auto;
    max-height: 60px;
}
.content p {
    height: 20px;
}

/*---------index------------e-*/

/*----------------site-------s--*/
header {
    height: px2rem(300);
    line-height: px2rem(300);
    text-align: center;
    background-color: #f2f2f2;
}


.site-content{
  margin: 0 px2rem(28);
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;

  .site-item{
    margin-top: px2rem(60);
    .site-img{
      img{
        border-radius: px2rem(24);
        width: px2rem(334);
        height: px2rem(334);
      }
    }

    .site-title{
      margin-top: px2rem(22);
      font-size: px2rem(28);
      color: #000000;
      font-weight: bold;
    }

    .site-address{
      margin-top: px2rem(9);
      color: #95969D;
      font-size: px2rem(25);
      font-weight: 500px;
    }

    .site-distence{
      margin-top: px2rem(22);
      color: #7A87F9;
      font-size: px2rem(22);
      span {
        display: inline-block;
        background-color: #E8EAFF;
        height: px2rem(36);
        line-height: px2rem(36);
        padding: 0 px2rem(10);
        border-radius: px2rem(17);
        img {
          // border: 1px solid red;
          vertical-align: text-bottom;
          width: px2rem(28);
          height: px2rem(30);
        }
      }
    }

  }
}


.site-test{

  border: 1px solid #E8EAFF;
  font-size: px2rem(23);
  span{
    display: inline-block;
    border: 1px solid #E8EAFF;
    height: 60px;
    line-height: 60px;
  }
  p{
    border: 1px solid #E8EAFF;
    height: 60px;
    line-height: 60px;
    font-size: px2rem(32);
  }
  img{
    // border: 1px solid red;
    vertical-align: middle;
    //vertical-align: text-bottom;
    // width: px2rem(18);
    // height: px2rem(22);
  }
}

/*----------------area------------------s---*/
.area-sel{
  // width: px2rem(308);
  // height: px2rem(48);
}
.temp{
  height: px2rem(200);
}


.area-con{
  max-height: px2rem(750);
  width: px2rem(360);
  overflow-y: scroll;
  li{
    border-bottom: 1px solid #ccc;
  }
  li:hover{
    background-color: #ccc;
  }
}


/*----------------area------------------e---*/


/*-------------scroll---s----------------------*/
.scorll-con{
  p{
    height: 30px;
    line-height: 30px;
    background: #ddd;
    opacity: 0.5;
  }
}

/*--------------touch---------------*/

@keyframes toright{
  from {left:-80px;}
  to {left:0px;}
}

@-webkit-keyframes toright {/*Safari and Chrome*/
  from {left:-80px;}
  to {left:0px;}
}

@keyframes toleft{
  from {left:0;}
  to {left:-80px;}
}

@-webkit-keyframes toleft {/*Safari and Chrome*/
  from {left:0px;}
  to {left:-80px;}
}

.touch-con{
  width: 100%;
  height: 200px;
  background-color: #CCC;
  position: relative;

  ul{
    //
    // animation:mymove 5s infinite;
    // -webkit-animation:mymove 5s infinite; /*Safari and Chrome*/

    position:absolute;
    top: 0;
    left: -80px;
    li{
      width: 86px;
      height: 49px;
      line-height: 49px;

      text-align: center;
      border-bottom: 1px solid #ccc;
      background-color: #999;
    }
  }
}
