@charset "UTF-8";

@import "./util";

html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
img,
span,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
}

img {
    // vertical-align: middle;
    border: 0;
}

input,button {
    outline: none;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

html {
    @include root-font-size();
}

body {
    /* rem2px的使用方式，仅用于临时计算 */
    border-width: rem2px(0.6);

    font-size: px2rem(16);
    font-family: "Microsoft YaHei";
}


/*---------index------------s-*/

/*轮播图*/
.sec_banner{
    // width: 100%;
    margin: px2rem(28);
    overflow: hidden;
    position: relative;

    .imgs-swiper{
        // border: 1px solid red;
        width: 1000%;
        transform: translateX(-10%);
        -webkit-transform: translateX(-10%);
        li{
          width: 10%;
          float: left;

          img{
            display: block;
            width: 100%;
            height: px2rem(300);
          }
        }
    }

    .imgs-dots{
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        bottom: px2rem(12);

        li{
            width: px2rem(12);
            height: px2rem(12);
            border-radius: px2rem(12);
            border: 1px solid #fff;
            margin: 0 px2rem(10);
        }

        .now{
            background: #fff;
        }
    }
}

/*---------index------------e-*/

/*----------------site-------s--*/
header {
    height: px2rem(300);
    line-height: px2rem(300);
    text-align: center;
    background-color: #f2f2f2;
}


.site-content{
  margin: 0 px2rem(28);
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;

  .site-item{
    margin-top: px2rem(60);
    .site-img{
      img{
        border-radius: px2rem(24);
        width: px2rem(334);
        height: px2rem(334);
      }
    }

    .site-title{
      margin-top: px2rem(22);
      font-size: px2rem(28);
      color: #000000;
      font-weight: bold;
    }

    .site-address{
      margin-top: px2rem(9);
      color: #95969D;
      font-size: px2rem(25);
      font-weight: 500px;
    }

    .site-distence{
      margin-top: px2rem(22);
      color: #7A87F9;
      font-size: px2rem(22);
      span {
        display: inline-block;
        background-color: #E8EAFF;
        height: px2rem(36);
        line-height: px2rem(36);
        padding: 0 px2rem(10);
        border-radius: px2rem(17);
        img {
          // border: 1px solid red;
          vertical-align: text-bottom;
          width: px2rem(28);
          height: px2rem(30);
        }
      }
    }

  }
}


.site-test{

  border: 1px solid #E8EAFF;
  font-size: px2rem(23);
  span{
    display: inline-block;
    border: 1px solid #E8EAFF;
    height: 60px;
    line-height: 60px;
  }
  p{
    border: 1px solid #E8EAFF;
    height: 60px;
    line-height: 60px;
    font-size: px2rem(32);
  }
  img{
    // border: 1px solid red;
    vertical-align: middle;
    //vertical-align: text-bottom;
    // width: px2rem(18);
    // height: px2rem(22);
  }
}
